@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  color: #007bff;
}

.domain-name-list {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
.domain-name-list li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
.domain-name-list li::before {
  content: counter(my-awesome-counter);
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

.alert-info {
  color: #007bff;
}
